.idea
db.sqlite3
env
venv
User/migrations
api/migrations
Products/migrations
pycache
migrations
_pycache_/
__pycache__
User/_pycache_
api/_pycache_
Products/_pycache_
DentiBask/_pycache_
DentiBask/_pycache/__init_.cpython-311.pyc
DentiBask/_pycache_/settings.cpython-311.pyc
DentiBask/_pycache_/urls.cpython-311.pyc
DentiBask/_pycache_/wsgi.cpython-311.pyc
Products/_pycache/__init_.cpython-311.pyc
Products/_pycache_/admin.cpython-311.pyc
Products/_pycache_/api.cpython-311.pyc
Products/_pycache_/models.cpython-311.pyc
Products/_pycache_/apps.cpython-311.pyc
Products/_pycache_/seriallizer.cpython-311.pyc
Products/_pycache_/urls.cpython-311.pyc
Products/_pycache_/apps.cpython-311.pyc
Products/_pycache_/models.cpython-311.pyc
Products/_pycache_/seriallizer.cpython-311.pyc
Products/_pycache_/urls.cpython-311.pyc
User/_pycache/__init_.cpython-311.pyc
User/_pycache_/admin.cpython-311.pyc
User/_pycache_/api.cpython-311.pyc
User/_pycache_/apps.cpython-311.pyc
User/_pycache_/models.cpython-311.pyc
User/_pycache_/seriallizer.cpython-311.pyc
User/_pycache_/token.cpython-311.pyc
User/_pycache_/urls.cpython-311.pyc
api/_pycache/__init_.cpython-311.pyc
api/_pycache_/admin.cpython-311.pyc
api/_pycache_/apps.cpython-311.pyc
api/_pycache_/models.cpython-311.pyc
*.pyc
_pycache_/
