.idea
db.sqlite3
env
venv
User/migrations
api/migrations
Products/migrations
pycache
migrations
__pycache__/
User/__pycache__
api/__pycache__
Products/__pycache__
DentiBask/__pycache__
DentiBask/__pycache__/__init__.cpython-311.pyc
DentiBask/__pycache__/settings.cpython-311.pyc
DentiBask/__pycache__/urls.cpython-311.pyc
DentiBask/__pycache__/wsgi.cpython-311.pyc
Products/__pycache__/__init__.cpython-311.pyc
Products/__pycache__/admin.cpython-311.pyc
Products/__pycache__/api.cpython-311.pyc
Products/__pycache__/models.cpython-311.pyc
Products/__pycache__/apps.cpython-311.pyc
Products/__pycache__/seriallizer.cpython-311.pyc
Products/__pycache__/urls.cpython-311.pyc
Products/__pycache__/apps.cpython-311.pyc
Products/__pycache__/models.cpython-311.pyc
Products/__pycache__/seriallizer.cpython-311.pyc
Products/__pycache__/urls.cpython-311.pyc
User/__pycache__/__init__.cpython-311.pyc
User/__pycache__/admin.cpython-311.pyc
User/__pycache__/api.cpython-311.pyc
User/__pycache__/apps.cpython-311.pyc
User/__pycache__/models.cpython-311.pyc
User/__pycache__/seriallizer.cpython-311.pyc
User/__pycache__/token.cpython-311.pyc
User/__pycache__/urls.cpython-311.pyc
api/__pycache__/__init__.cpython-311.pyc
api/__pycache__/admin.cpython-311.pyc
api/__pycache__/apps.cpython-311.pyc
api/__pycache__/models.cpython-311.pyc
*.pyc
__pycache__/


